.forgot_password {
  width: 100%;
  padding: 8px;
  border: 0.5px solid green;
}
.Password_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Password_input input{
    width:100%;
    margin-top: 8px;
    padding:5px;
    border-radius: 5px;
    border: 0.5px solid green;

}

.match{
    display: none;
}

.match2 p{
    color:red;
}
