.Container > li {
  display: inline-block;
}
.Container {
  display: flex;
  padding: 5px 35px;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70%;
}

.Container > li:nth-child(2) > select {
  border: 1px solid grey;
  padding: 5px 15px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Container > li:nth-child(3) > input {
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 470px;
}
.Container > li:nth-child(4) {
  border: 1px solid grey;
  padding: 5px 18px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.suggestion {
  overflow: auto;
  border: 2px solid #5febc1;
  border-top: none;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9999;
  background-color: white;
  color:black;
  width: 34vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.suggestion :hover {
  background-color: #a8fcc8;
  color: white;
  cursor: pointer;
}

.suggestion::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 700px) and (max-width: 1090px) {
  .Container > li:nth-child(3) > input {
    width: 240px;
  }
  .Container > li:nth-child(4) {
    padding: 5px 10px;
  }

  .logo img {
    width: 100%;
  }
  .Container {
    padding: 5px 15px;
  }
  .logo {
    width: 20%;
  }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .Container > li:nth-child(2) {
    display: none;
  }

  .Container > li:nth-child(3) > input {
    width: 240px;
  }
  .Container > li:nth-child(4) {
    padding: 5px 10px;
  }
  .logo img {
    width: 100%;
  }
  .Container {
    padding: 5px 15px;
  }
  .logo {
    width: 20%;
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .Container > li:nth-child(2) {
    display: none;
  }

  .Container {
    padding: 15px 0;
  }
  .Container > li:nth-child(3) > input {
    width: 140px;
    font-size: 12px;
  }
  .Container > li:nth-child(4) {
    padding: 5px 5px;
    font-size: 7px;
  }
  .logo img {
    width: 100%;
  }
  .Container {
    padding: 5px 15px;
  }
  .logo {
    width: 20%;
  }
  .suggestion {
    width: 40vw;
  }
}
