#makeup_main_div{
    width: 100%;
    border: 1px solid rgb(207, 203, 203);
    padding: 10px 10px 15px 10px; 
}
#makeup_main_container{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;
    padding: 10px;
}

#makeup_img_div>img{
    width:70%
}

#go_star_div{
    display: flex;
    width: 35%;
    gap: 10px;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
}
#add_to_cart_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background:linear-gradient(#81FBB8,#28C76F);
    padding: 5px 15px;
}
#main_add_cart_div{
    display: flex;
    cursor: pointer;
    width: 60%;
    color: grey;
    justify-content: flex-end;
    margin: auto;
    padding: 15px;
    gap: 10px;
}
#makeup_name_div{
    text-align: center;
}
#hrt_div{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    border-radius: 7px;
}
#price_pink_div{
    color: #006d43;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.Div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}


@media screen and (max-width:1180px) and (min-width:769px){
    #makeup_main_container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}

@media screen and (max-width:768px) and (min-width:320px){
    #makeup_main_container{
        grid-template-columns: repeat(1,1fr);
    }

    #main_add_cart_div{
        width:90%
    }
}